/*Theme colour: #E91E63 (Material design pink:500)*/

.body{
    background-color: #fafafa;
}

.mdl-layout__header-row{
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.mdl-layout__header{
    height:10%;
}

.mdl-card{
    float:left  ;
    margin: 1em ;
    height: 80px;
}

#graphholder{
    float: left;
}