/*Theme colour: #E91E63 (Material design pink:500)*/

body{
    background-color: #fafafa;
    height: 100%
}

main{
    height:100%;
    position: relative;

}

/*bar charts*/

.bar{
    fill: grey;
}

.bar:hover{
    fill: #E91E63;
}

path.domain{
    font-size: 14px;
    height: 1px;
    fill: none;
    line-height:1px;

}

/*network (svg)*/
g > .node{
   stroke: #fafafa;
}

g > .link{
    stroke: #999;
    stroke-opacity: 1;
}

defs > marker {

}
defs > marker > path{
    fill: #999;
    opacity: 1;
}

/*modals*/

#modalContent {
    font-family: 'Roboto', sans-serif;
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    z-index:1002;
}

/*COLOURS*/
.themeColour{
    background-color: #E91E63; /*to have some default colour*/
}

.themeColourSecondary{
    background-color: #D81B60; /*to have some default colour*/
}

.themeColourText{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    stroke: none;
    fill:  #D81B60;
}

/*For items that always have teaching colour*/
.themeColourTeach{
    background-color: #00BCD4;
}

/*haeder search*/
material-input .spaceholder{
    font-size: 0px !important;
}

/*for lesson text that represents a goal/target/activity*/
.lessonGoal{
    background-color: red;
    white-space: nowrap;
}

/*styles the news section of causecades welcome component.
cannot be put in the css style document for welcome component*/
#welcome_news p{
    font-size: 20px;
    color: #fafafa;
    font-family: Roboto;
}

#welcome_news_container{
    border-top: 3px solid #fafafa;
    display: block;
}

#welcome_news_title{
    font-size: 18px;
    font-family: Roboto;
    color: #fafafa;
    font-style: italic;
}