/*Theme colour: #E91E63 (Material design pink:500)*/

body{
    background-color: #fafafa;
    height: 100%
}

main{
    height:100%;
    position: relative;

}

.mdl-layout__header-row{
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    padding-left: 0;
}

.mdl-layout__header .mdl-layout-icon{
    height: 60px;
    width: 60px;
}

.mdl-layout__header-row img{
    padding-left: 25px;
    padding-right: 25px;
}


.mdl-card{
    float:left  ;
    margin: 1em ;

}

#main_title{
    font-family: 'Monoton';
    font-size: 50px;
    color: #fafafa;
}

#main_card{
    width: 22%;
    align-items: stretch;
    position: absolute;
}

#node_adder{

    right: 2%;
    top: 91%;
}

#GraphHolder{
    height:100%;
    width: 100%;
    position: absolute;

   /* display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;*/
}

#controlmenu{
    background: #E91E63;
    width: 100%;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#button_holder{

    padding-right: 16px ;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#button_holder button.mdl-button    {
    padding-left: 32px;
    padding-right: 32px ;
    background: #fafafa;
   /* color: black;*/
    font-weight: 600;
}

.header_card{
    color: rgba(0,0,0,0.87);
}

/*other*/

#MenuOptions{
    float: left;
}

#DisplayModes{
    float: right;
}

.mdl-tabs{
    padding-left: 3em;
    padding-right: 3em;
    width: auto;
}

.mdl-tabs__tab-bar{

    display: inline ;
}

.tabs_menu .mdl-tabs__tab-bar{
    border-bottom: none ;
    -webkit-justify-content: inherit;
}

#DisplayModes.mdl-tabs__tab-bar {
    margin-left: auto;
    -webkit-justify-content:center;
}

.tabs_menu .mdl-tabs__tab-bar .mdl-tabs__tab, .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{
    color: #fafafa;
}

/*bar charts*/

.bar{
    fill: grey;
}

.bar:hover{
    fill: #E91E63;
}

path.domain{
    font-size: 14px;
    height: 1px;
    fill: none;
    line-height:1px;

}

/*network (svg)*/
g > .node{
   stroke: #fafafa;
}

/*modals*/

#modalContent {
    font-family: 'Roboto', sans-serif;
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;

    z-index:1002;
}

/*////////////////////////// welcome Modal ///////////////////////////*/

#welcomeModal{
    width:100%;
    height: 60%;
    display: block;
    position: absolute;
    top: 20%;
    background:#D81B60;
    z-index: 9999;

}

#welcomeMessage{
    height: 85%;
    background: #E91E63;
    box-shadow: 0px 1px 75px 0px rgba(0,0,0,0.4);
    font-size: 0;
}

#welcomeMessageContent{
    width: 40%;
    margin: auto;
    vertical-align: top
}

#welcomeMessageContent img{
    width: 15%;
    height: 15%;
    display: block;
    margin: auto;
    padding-top: 4%;
}

#welcomeButtonRegion{
    height: 15%;
}

#welcomeButtonHolder{
    display: block;
    margin: auto;
    width: 28%; /*FIX*/
    padding-top: 1.5%;
}

#welcomeButtonRegion button{
    margin: 10px;
    font-weight: 600;
}

#welcomeTitle{
    font-size: 44px;
    line-height: 100%;
    color: #fafafa;
    text-align: center;
    font-family: Roboto;
    padding-top: 2%;
    padding-bottom: 5%;
}

#welcomeText p{
    font-size: 22px;
    color: #fafafa;
    font-family: Roboto;
}

#welcomeText a{
    font-size: 22px;
    color: #BDBDBD;
    font-family: Roboto;
    text-decoration: none;
}

#welcomeText a:hover{
    font-size: 22px;
    color:  #BDBDBD;
    font-family: Roboto;
    text-decoration: underline;
}

#overlay{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:9998;
    -moz-opacity: 0.8;
    opacity:.55;
    filter: alpha(opacity=50);
}